In [1]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm

/home/caihengxing/anaconda3/lib/python3.7/site-packages/pandas/compat/_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
# 数据来源:https://www.kaggle.com/competitions/competitive-data-science-predict-future-sales/data

In [3]:
df = pd.read_csv('./data.csv')

In [4]:
df.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [5]:
del_cols = ['date_block_num', 'item_price']
df.drop(del_cols, axis=1, inplace=True)

In [6]:
df.head()

         date  shop_id  item_id  item_cnt_day
0  02.01.2013       59    22154           1.0
1  03.01.2013       25     2552           1.0
2  05.01.2013       25     2552          -1.0
3  06.01.2013       25     2554           1.0
4  15.01.2013       25     2555           1.0

In [7]:
df['date'] = pd.to_datetime(df['date'])

In [8]:
df.head()

        date  shop_id  item_id  item_cnt_day
0 2013-02-01       59    22154           1.0
1 2013-03-01       25     2552           1.0
2 2013-05-01       25     2552          -1.0
3 2013-06-01       25     2554           1.0
4 2013-01-15       25     2555           1.0

In [9]:
df = df.loc[df['date'] <= '2014-12-31']

In [10]:
df = df.loc[df['shop_id'] <= 9]

In [11]:
train = df.loc[df['date'] <= '2014-11-30']
test  = df.loc[df['date'] >= '2014-12-01']

In [12]:
train['date'].min(), train['date'].max()

(Timestamp('2013-01-01 00:00:00'), Timestamp('2014-11-30 00:00:00'))

In [13]:
test['date'].min(), test['date'].max()

(Timestamp('2014-12-01 00:00:00'), Timestamp('2014-12-31 00:00:00'))

In [14]:
train = train[['shop_id', 'item_id', 'date', 'item_cnt_day']]
test = test[['shop_id', 'item_id', 'date', 'item_cnt_day']]

In [15]:
train = train.sort_values(by = ['date', 'shop_id', 'item_id'])
test = test.sort_values(by = ['date', 'shop_id', 'item_id'])

In [16]:
train.index = range(len(train))
test.index = range(len(test))

In [17]:
train.to_csv('sales_train.csv', index = False)
test.to_csv('sales_test.csv', index = False)