In [1]:
import random
import time
from datetime import datetime
import pandas as pd
import numpy as np
import os
from tqdm import tqdm

In [2]:
def randomDate(start, end):
    frmt = '%d-%m-%Y %H:%M:%S'

    stime = time.mktime(time.strptime(start, frmt))
    etime = time.mktime(time.strptime(end, frmt))

    ptime = stime + random.random() * (etime - stime)
    dt = datetime.fromtimestamp(time.mktime(time.localtime(ptime)))
    return dt

In [3]:
time_list = []
for i in range(1000):
    random_datetime = randomDate("01-01-2020 00:30:00", "31-01-2020 00:50:34")
    time_list.append(random_datetime)

In [4]:
df = pd.DataFrame({
    "用户id":np.random.randint(1,100,size=1000),
    "time":time_list,
    "消费金额":np.random.random(1000).round(2) * 100
})

In [6]:
df

     用户id                time  消费金额
0      57 2020-01-20 08:42:42  51.0
1      11 2020-01-29 23:31:33  78.0
2      42 2020-01-30 20:55:20  55.0
3      55 2020-01-05 09:39:00  42.0
4      46 2020-01-12 10:17:45  47.0
..    ...                 ...   ...
995    65 2020-01-29 14:02:33  41.0
996    53 2020-01-08 21:37:23  84.0
997    29 2020-01-16 21:52:52  88.0
998    55 2020-01-23 12:45:45  30.0
999    23 2020-01-14 02:49:00  24.0

[1000 rows x 3 columns]

In [12]:
df = df.sort_values(by = 'time')

In [13]:
df.index = range(len(df))

In [14]:
df.head()

   用户id                time  消费金额
0    17 2020-01-01 00:30:04  17.0
1    38 2020-01-01 01:14:13  87.0
2    36 2020-01-01 02:48:01  12.0
3    36 2020-01-01 02:50:20   4.0
4    31 2020-01-01 03:14:22   6.0

In [15]:
df.to_csv('./时序特征样例数据.csv', index = False)